@using Models
@model Productos
@{
    ViewData["Title"] = "Detalles del Producto" + Model.Descripcion;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.IdProducto</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>

        <dt class="col-sm-2">Precio</dt>
        <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>