@using Models
@model List<Productos>
@{
    ViewData["Title"] = "Listado de Productos";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-primary">Crear nuevo producto</a>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th> </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.IdProducto</td>
                <td>@producto.Descripcion</td>
                <td>@producto.Precio.ToString("C")</td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@producto.IdProducto" class="btn btn-warning btn-sm">Editar</a>
                    
                    <a asp-action="Details" asp-route-id="@producto.IdProducto" class="btn btn-info btn-sm">Detalles</a>
                    
                    <a asp-action="Delete" asp-route-id="@producto.IdProducto" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>